{% extends 'base.html' %} {% block content %}

<h1 class="display-4">Welcome back {{ user.first_name }}</h1>
<div class="text-center">
    <h3>User Details</h3>
    <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <form action="/logout" method="POST">
        <button class="btn btn-primary">Logout</button>
    </form>
</div>
<ul>
    {% for note in notes %}
    <li><a href="/notes/{{note.id}}/update">{{note.title}}</a></li>
    {% endfor %}
</ul>
<div class="text-center">
    <form action="/users/{{user.username}}/delete" method="POST">
        {{form.hidden_tag()}}
        <!-- generates CSRF token-->
        {% for field in form if field.widget.input_type != "hidden" %}
        <a href="/users/{{user.username}}/notes/add" class="btn btn-info">Add Note</a>
        <button class="btn btn-danger">Delete User</button>
    </form>

</div>


{% endblock %}