{% extends 'base.html' %} {% block content %}

<h1 class="display-4">Welcome back {{ user.first_name }}</h1>
<div class="text-center">
  <h3>User Details</h3>
  <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
  <p>Username: {{ user.username }}</p>
  <p>Email: {{ user.email }}</p>
  <form action="/logout" method="POST">
    <button class="btn btn-primary">Logout</button>
  </form>
  <ul>
    {% for note in notes %}
    <li><a href="/notes/{{note.id}}/update">{{note}}</a></li>
    {% endfor %}
  </ul>
  <a href="/users/{{user.username}}/notes/add" class="btn btn-info">Add Note</a>
  <a href="/users/{{user.username}}/delete">Delete User</a>
</div>

{% endblock %}
